option_settings:
  aws:elasticbeanstalk:application:environment:
    PYTHONPATH: "/var/app/current:$PYTHONPATH"
    PYTHONUNBUFFERED: "1"

packages:
  yum:
    git: []
    
commands:
  01_install_nodejs:
    command: |
      curl -fsSL https://rpm.nodesource.com/setup_18.x | bash -
      yum install -y nodejs unzip
    ignoreErrors: false